{% extends "layout.html" %}

{% block title %}
    Edit Character
{% endblock %}

{% block main %}
    <p>
        Here you may make changes to your character! Make sure to save your changes.
        <br/>
    </p>
    <form action="/editcharacter" method="post">
        <div class="form-group">
            <input type="hidden" name="id" value="{{ character["id"] }}">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control-2" name="name" value="{{ character["name"] }}" placeholder="Name" type="text">
        </div>
        <div class="form-group">
            <input class="form-control-2" name="highlights" value="{{ character["highlights"] }}" placeholder="Key attributes/characteristics" type="text">
        </div>
        <div class="form-group">
            <input class="form-control-2" name="gender" value="{{ character["gender"] }}" placeholder="Gender" type="text">
        </div>
        <div class="form-group">
            <input class="form-control-2" name="bday" value="{{ character["bday"] }}" placeholder="Birthday" type="date">
        </div>
        <div class="form-group">
            <input class="form-control-2" name="nateth" value="{{ character["nateth"] }}" placeholder="Nationality/ethnicity" type="text">
        </div>
        <div class="form-group">
            <input class="form-control-2" name="home" value="{{ character["home"] }}" placeholder="Place of origin" type="text">
        </div>
        <div class="form-group">
            <textarea class="form-control-4" name="phys" placeholder="Physical description">{{ character["phys"] }}</textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control-4" name="pers" placeholder="Personality">{{ character["pers"] }}</textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control-4" name="job" placeholder="Career/position">{{ character["job"] }}</textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control-4" name="acts" placeholder="Skills/talents/hobbies">{{ character["acts"] }}</textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control-4" name="notes" placeholder="Notes (optional)">{{ character["other"] }}</textarea>
        </div>
        <button class="button" type="submit">Save changes</button>
    </form>

    <br/>
    <br/>

    <p>
        You may also delete your character. This cannot be undone.
    </p>
    <form action="/deletecharacter" method="post">
        <div class="form-group">
            <input type="hidden" name="id" value="{{ character["id"] }}">
        </div>
        <button class="button" type="submit">Delete character forever</button>
    </form>
{% endblock %}
